.profile__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 39px 17px;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  transition: opacity 0.3s;
  cursor: pointer;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 999px) {
  .profile__edit-button {
    justify-self: start;
    margin: 35px 7px;
    width: 18px;
    height: 18px;
  }
}
