.popup-image__close {
  height: 32px;
  width: 32px;
  background-color: #11ffee00;
  position: absolute;
  top: -32px;
  right: -32px;
  transition: opacity 0.3s;
  cursor: pointer;
  border: none;
  outline: none;
}

.popup-image__close:hover {
  opacity: 0.6;
}