.footer {
  margin: 0 auto 60px;
  width: 69%;
  max-width: 882px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 620px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 36px;
    width: 88%;
  }
}