.profile__avatar-overlay {
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .5s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__avatar-overlay:hover{
  opacity: 1;
  cursor: pointer;
}